<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">
  
    <title> Feane </title>
  
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  
    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
  
    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style1.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
  
  </head>
  <body class="sub_page">
    <div class="hero_area">
      <div class="bg-box">
        <img src="images/hero-bg.jpg" alt="">
      </div>
      <!-- header section strats -->
      <header class="header_section">
        <div class="container">
          <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="/">
              <span>
                Feane
              </span>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class=""> </span>
            </button>
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav  mx-auto ">
                <li class="nav-item">
                  <a class="nav-link" href="index.html">Home </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="menu.html">Menu <span class="sr-only">(current)</span> </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="book.html">Book Table</a>
                </li>
              </ul>
              <div class="user_option">
                <a href="" class="user_link">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <a class="cart_link" href="#">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                    <g>
                      <g>
                        <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                    <g>
                      <g>
                        <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                    <g>
                    </g>
                  </svg>
                </a>
                <form class="form-inline">
                  <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </button>
                </form>
                <a href="" class="order_online">
                  Order Online
                </a>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <!-- end header section -->
    </div>
  
    <!-- food section -->
  
    <div class="section padding_layout_1 product_detail">
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                <% for(let i = 0 ; i < dataResult.rowsAffected ; i ++) { %>
                  <div class="row">
                          <div class="col-xl-6 col-lg-12 col-md-12">
                              <div class="product_detail_feature_img hizoom hi2">
                                  <div class='hizoom hi2'> <img class="detail_hinh"  src="/linhkien/<%= dataResult.recordset[i].Hinh1 %>" /> </div>
                              </div>
                          </div>
                          <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
                              <div class="product-heading">
                                  <h2 id="test"><%= dataResult.recordset[i].TenLK %></h2>
                              </div>
                              <div class="product-detail-side"> <span><del>$25.00</del></span><span class="new-price"><%= dataResult.recordset[i].Gia %>₫</span> <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </span> <span class="review">(5 customer review)</span> </div>
                              <div class="detail-contant">
                                  <p>
                                      <div id="item_malk"><%= dataResult.recordset[i].MaLK %></div>
                                      <%= dataResult.recordset[i].Mota %><br>
                                  <p id="item_malk"><%= dataResult.recordset[i].MaLK %></p>
                                  <p id="item_malk"> <%= dataResult.recordset[i].MaLK %></p>
                                  <span class="stock">2 in stock</span>
                                  </p>
                                  <form class="cart" method="post" action="it_cart.html">
                                      <div class="quantity">
                                          <input step="1" min="1" max="10" name="quantity" value="1" title="Qty" id="btn_SoLuong" class="input-text qty text" size="4" type="number">
                                      </div>
                                      <input type="button" ID="btn_add_cart" class="btn sqaure_bt" value="THÊM VÀO GIỎ HÀNG" data-toggle="modal" data-target="#exampleModal"/>
                                      <input type="button" ID="mua" class="btn sqaure_bt" value="MUA"  />
                                  </form>
                              </div>
                              <div class="share-post">
                                  <a href="#" class="share-text">Share</a>
                                  <ul class="social_icons">
                                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li><!---->
                                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                      <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                      <!-- Modal -->
                      <div class="op">
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">THÔNG BÁO</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="modal-body" id="info">
                                          Vui lòng hãy đăng nhập để mua sản phẩm này nha :)))
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" id="yes">ĐĂNG NHẬP</button>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">THOÁT</button>
  
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      
                  </div>
                <% } %>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="full">
                              <div class="tab_bar_section">
                                  <ul class="nav nav-tabs" role="tablist">
                                      <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#description">Thông số sản phẩm</a> </li>
                                      <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews">Đánh giá</a> </li>
                                  </ul>
                                  <!-- Tab panes -->
                                  <div class="tab-content">
                                      <div id="description" class="tab-pane active">
                                              <div class="product_desc">
                                                  <p>
                                                      @item.Mota
  
                                                  </p>
                                              </div>
                                          </div>
                                      <div id="reviews" class="tab-pane fade">
                                          <div class="product_review">
                                              <h4>BÌNH LUẬN SẢN PHẨM</h4>
                                                  <div class="commant-text row">
                                                      <div class="col-lg-2 col-md-2 col-sm-4">
                                                          <div class="profile"> <img class="img-responsive" src="~/Content/images/@item.avartar"> </div>
                                                      </div>
                                                      <div class="col-lg-10 col-md-10 col-sm-8">
                                                          <h5>@item.name</h5>
                                                          <p><span class="c_date">@item.date</span> | <span><a rel="nofollow" class="comment-reply-link" href="#">Reply</a></span></p>
                                                          <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </span>
                                                          <p class="msg">
                                                              @item.commentkh
                                                          </p>
                                                      </div>
                                                  </div>
                                              <div class="row">
                                                  <div class="col-sm-12">
                                                      <div class="full review_bt_section">
                                                          <div class="float-right"> <a class="btn sqaure_bt" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">BÌNH LUẬN</a> </div>
                                                      </div>
                                                      <div class="full">
                                                          <div id="collapseExample" class="full collapse commant_box">
  
                                                              <input id="name" type="text" placeholder="NHẬP TÊN">
                                                              <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." required=""></textarea>
                                                              <div class="full_bt center">
                                                                      <div id="malk">@item.MaLK</div>
                                                                      <button class="btn sqaure_bt" id="dang">ĐĂNG</button>
                                                              </div>
  
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="full">
                              <div class="main_heading text_align_left" style="margin-bottom: 35px;">
                                  <h3>CÁC SẢN PHẨM KHÁC</h3>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-4 col-sm-6 col-xs-12 margin_bottom_30_all">
                          <div id="malk1">@item.MaLK</div>
                          <div class="product_list">
                              <div class="product_img">
                                  <a href="/ITNEXT/Details/@item.MaLK">
                                      <img class="img-responsive" src="~/Content/linhkien/@item.Hinh" alt="">
                                  </a>
                              </div>
                              <div class="product_detail_btm">
                                  <a href="/ITNEXT/Details/@item.MaLK">
                                      <div class="center">
                                          <h4>@item.TenLK</h4>
                                      </div>
                                      <div class="starratin">
                                          <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
                                      </div>
                                      <div class="product_price">
                                          <p><span class="old_price">$15.00</span> – <span class="new_price">@String.Format("{0:N0}", item.Gia)₫</span></p>
                                      </div>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="side_bar">
                      <div class="side_bar_blog">
                          <h4>SEARCH</h4>
                          <div class="side_bar_search">
                              <div class="input-group stylish-input-group">
                                  <input class="form-control" placeholder="Search" type="text">
                                  <span class="input-group-addon">
                                      <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                  </span>
                              </div>
                          </div>
                      </div>
                      <div class="side_bar_blog">
                          <h4>GET A QUOTE</h4>
                          <p>An duo lorem altera gloriatur. No imperdiet adver sarium pro. No sit sumo lorem. Mei ea eius elitr consequ unturimperdiet.</p>
                          <a class="btn sqaure_bt" href="it_service.html">View Service</a>
                      </div>
                      <div class="side_bar_blog">
                          <h4>OUR SERVICE</h4>
                          <div class="categary">
                              <ul>
                                  <li><a href="it_data_recovery.html"><i class="fa fa-angle-right"></i> Data recovery</a></li>
                                  <li><a href="it_computer_repair.html"><i class="fa fa-angle-right"></i> Computer repair</a></li>
                                  <li><a href="it_mobile_service.html"><i class="fa fa-angle-right"></i> Mobile service</a></li>
                                  <li><a href="it_network_solution.html"><i class="fa fa-angle-right"></i> Network solutions</a></li>
                                  <li><a href="it_techn_support.html"><i class="fa fa-angle-right"></i> Technical support</a></li>
                              </ul>
                          </div>
                      </div>
                    
                  </div>
              </div>
          </div>
      </div>
  </div>
  
    <!-- end food section -->
  
    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <div class="row">
          <div class="col-md-4 footer-col">
            <div class="footer_contact">
              <h4>
                Contact Us
              </h4>
              <div class="contact_link_box">
                <a href="">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <span>
                    Location
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <span>
                    Call +01 1234567890
                  </span>
                </a>
                <a href="">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <span>
                    demo@gmail.com
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <div class="footer_detail">
              <a href="" class="footer-logo">
                Feane
              </a>
              <p>
                Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
              </p>
              <div class="footer_social">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-pinterest" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-4 footer-col">
            <h4>
              Opening Hours
            </h4>
            <p>
              Everyday
            </p>
            <p>
              10.00 Am -10.00 Pm
            </p>
          </div>
        </div>
        <div class="footer-info">
          <p>
            &copy; <span id="displayYear"></span> All Rights Reserved By
            <a href="https://html.design/">Free Html Templates</a><br><br>
            &copy; <span id="displayYear"></span> Distributed By
            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
          </p>
        </div>
      </div>
    </footer>
    <!-- footer section -->
  
  
  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  
  <!-- End Google Map -->
  
  </body>